<?xml version="1.0" encoding="utf-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <general>
    <startPoint>
      <root type="Unit">true</root>
      <root type="UnitDomain">false</root>
      <root type="Course">false</root>
      <root type="Subject">false</root>
      <root type="Class">false</root>
      <root type="Contacts">false</root>
      <root type="Person">false</root>
    </startPoint>
  </general>
  <startup>
    <fileToOpen recent="true">../../OneSchool.xml</fileToOpen>
  </startup>
</settings>